* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
html {
  font-size: 62.5%;
}
:root {
  --primary-font: "Open Sans", sans-serif;
  --secondary-font: "Playfair", serif;
  --color-light: #ecdfcc;
  --color-lighter: #697565;
  --color-dark: #3c3d37;
  --color-darker: #181c14;
  --text-color: #f97300;
}
body {
  font-size: 1.75rem;
  font-family: var(--primary-font);
  background-color: var(--color-dark);
  color: var(--color-light);
}

.header-location {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 2rem;
}
@media screen and (max-width: 600px) {
  .header-location {
    display: none;
  }
}

.header-location-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.header-location-item i {
  color: var(--text-color);
  font-size: 1.5rem;
}
.header-location-item p {
  font-size: 1.4rem;
  font-weight: 750;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 2rem;
}

.header-lpgp-link-wrapper {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--primary-font);
  font-size: 1.7rem;
}
@media screen and (max-width: 1030px) {
  .head-nav-list {
    gap: 0.75rem;
  }
}
.logo {
  font-size: 3rem;
}
.head-nav-list {
  list-style: none;
  display: flex;
  gap: 2rem;
}
@media screen and(max-width: 800px) {
  .head-nav-list {
    gap: 0.75rem;
  }
}
@media screen and (max-width: 900px) {
  .header-nav-list {
    flex-direction: column;
  }
}
.header-nav-list-item a {
  text-decoration: none;
  color: var(--color-light);
  font-family: var(--primary-font);
  font-weight: 620;
  font-size: 1.3rem;
}

.header-CTA-btn {
  text-decoration: none;
  background-color: var(--color-darker);
  color: var(--text-color);
  padding: 1rem 2rem;
  border-radius: 6.5px;
  font-weight: 700;
  font-size: 1.5rem;
}
